.slider-container {
  width: 1890px; /* Asegúrate de que esto coincida con slideWidth en TS */
  height: 400px; /* Altura de tus imágenes */
  overflow: hidden; /* Esto es crucial para ocultar las imágenes fuera de vista */
  position: relative; /* Para posicionar los botones si es necesario */
  margin: auto; /* Centrar el slider */
}

.slider-wrapper {
  display: flex; /* Para que las imágenes se coloquen una al lado de la otra */
  transition: transform 0.5s ease-in-out; /* Animación suave al cambiar de slide */
}

.slide-image {
  width: 1890px; /* Ancho de cada imagen, debe coincidir con slideWidth */
  height: 400px; /* Altura de cada imagen */
  flex-shrink: 0; /* Evita que las imágenes se encojan */
  object-fit: cover; /* Para que las imágenes se ajusten y cubran el espacio */
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  font-size: 20px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}