.slider-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  flex: 0 0 100%;
  width: 800px;
  height: 400px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

#slide-arrow-prev {
  left: 10px;
}

#slide-arrow-next {
  right: 10px;
}

.slide.active {
  /* Estilos opcionales para la diapositiva activa */
   position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}